@import './styles/theme.css';

:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color-scheme: light dark;
  color: var(--text-default);
  background-color: var(--gray-900);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: var(--link-color);
  text-decoration: inherit;
}
a:hover {
  color: var(--link-hover);
}

body {
  background: var(--gray-900);
  color: var(--text-default);
  margin: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid var(--primary);
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--primary);
  color: var(--text-over-primary);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--primary-light);
  background-color: var(--primary-light);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--gray-900);
    background-color: var(--gray-100);
  }
  a:hover {
    color: var(--primary-dark);
  }
  button {
    background-color: var(--primary-light);
    color: var(--text-over-primary-light);
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;